$--color-white: #FFFFFF !default;
$--color-warning: #E6A23C !default;
$--color-danger: #F56C6C !default;

$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--border-radius-base: 4px !default;

@for $i from 0 through 20 {
    .padding-#{$i} {
        padding:#{$i}px;
        box-sizing: border-box;
    }

    .padding-top-#{$i} {
        padding-top:#{$i}px;
        box-sizing: border-box;
    }

    .padding-right-#{$i} {
        padding-right:#{$i}px;
        box-sizing: border-box;
    }

    .padding-bottom-#{$i} {
        padding-bottom:#{$i}px;
        box-sizing: border-box;
    }

    .padding-left-#{$i} {
        padding-left:#{$i}px;
        box-sizing: border-box;
    }
}


@each $i in 0,
5,
10,
15,
20,
50,
100 {
    .margin-#{$i} {
        margin: #{$i}px
    }

    .margin-top-#{$i} {
        margin-top: #{$i}px
    }

    .margin-right-#{$i} {
        margin-right: #{$i}px
    }

    .margin-bottom-#{$i} {
        margin-bottom: #{$i}px
    }

    .margin-left-#{$i} {
        margin-left: #{$i}px
    }
}

@each $i in 50,
100,
150,
200,
250,
300,
350,
400,
450,
500 {
    .min-height-#{$i} {
        min-height: #{$i}px
    }
}